<nav class="navbar navbar-light row" id="headerRow">
  <div class="col">
    <a routerLink="results">
      <img id="logo" src="assets/logo.png" alt="FMDb"/>
    </a>
  </div>
  <div class="col-10">
    <ul id="autocomplete"></ul>
    <div class="row" id="navTopRow">
      <div class="col-lg-9 col-md-8 col-sm-8">
        <form (submit)="searchSubmit()" class="form-inline d-flex flex-row" id="searchForm">
          <input class="form-control mr-sm-2" id="search" type="text" name="searchForm.query" [(ngModel)]="searchForm.query" placeholder="Find Movies, TV shows, Celebrities and more...">
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="searchFilter" name="searchForm.type" [(ngModel)]="searchForm.type">
            <option selected>All</option>
            <option value="title">Titles</option>
            <option value="name">Names</option>
          </select>
          <button [routerLink]="['/results/']" class="btn btn-warning my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <div class="col nav-aside">
        <a href="#">Help</a>
        <button type="button" class="circle btn btn-outline-light">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="circle btn btn-outline-light">
          <i class="fab fa-twitter"></i>
        </button>
        <button type="button" class="circle btn btn-outline-light">
          <i class="fab fa-instagram"></i>
        </button>
      </div>
    </div>
    <div class="row" id="navBottomRow">
      <div class="col-lg-9 col-md-8 col-sm-8">
        <ul id="dropNav" class="nav d-flex flex-row">
          <li ngbDropdown class="nav-item d-inline-block">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Movies, TV
              <br>&amp; Showtimes</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
          <li ngbDropdown class="nav-item d-inline-block">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Celebs, Events
              <br>&amp; Photos</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
          <li ngbDropdown class="nav-item d-inline-block">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>News &amp;
              <br>Community
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
          <li ngbDropdown class="nav-item d-inline-block last">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Watchlist</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col nav-aside">
        <ng-container *ngIf="!loggedIn">
          <button id="signInBtn" type="button" [routerLink]="['/registration']" class="btn btn-primary btn-sm">
            <i class="fas fa-sign-in-alt"></i> Sign in / Register
          </button>
        </ng-container>
        <ng-container *ngIf="loggedIn">
          <p>Hello, {{user.name}}!</p>
          <button id="signInBtn" type="button" [routerLink]="['/registration']" class="btn btn-primary btn-sm">
            <i class="fas fa-sign-out-alt"></i> Log out
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
