<nav class="navbar navbar-light row" id="headerRow">
  <div class="col-1">
    <h3>IMDB</h3>
  </div>
  <div class="col-11">
    <ul id="autocomplete"></ul>
    <div class="row" id="navTopRow">
      <div class="col-9">
        <form (submit)="searchSubmit()" class="form-inline" id="searchForm">
          <input class="form-control mr-sm-2" id="search" type="text" name="searchForm.query" [(ngModel)]="searchForm.query" placeholder="Find Movies, TV shows, Celebrities and more...">
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="searchFilter" name="searchForm.type" [(ngModel)]="searchForm.type">
            <option selected>All</option>
            <option value="title">Titles</option>
            <option value="name">Names</option>
          </select>
          <button class="btn btn-warning my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <div class="col nav-aside">
        <a href="#">Help</a>
        <button type="button" class="circle btn btn-outline-light">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="circle btn btn-outline-light">
          <i class="fab fa-twitter"></i>
        </button>
        <button type="button" class="circle btn btn-outline-light">
          <i class="fab fa-instagram"></i>
        </button>
      </div>
    </div>
    <div class="row" id="navBottomRow">
      <div class="col-9">
        <ul id="dropNav" class="nav">
          <li ngbDropdown class="nav-item d-inline-block">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Movies, TV
              <br>&amp; Showtimes</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
          <li ngbDropdown class="nav-item d-inline-block">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Celebs, Events
              <br>&amp; Photos</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
          <li ngbDropdown class="nav-item d-inline-block">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>News &amp;
              <br>Community
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
          <li ngbDropdown class="nav-item d-inline-block last">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Watchlist</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col nav-aside">
        <button id="fbSignInBtn" type="button" class="btn btn-primary btn-sm">
          <i class="fab fa-facebook-f"></i> Sign in with Facebook</button>
        <br>
        <a href="#">Sign in without Facebook</a>
      </div>
    </div>
  </div>
</nav>