#logo {
    width:100%;
}
nav {
    background:linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
    color:#fff; 
}
nav a {
    color:#fff;
}
.row {
    align-items: center;
}
.nav-aside {
    width:100%;
    font-size: .75em;
    text-align: right;
}
.nav-aside > * {
    display: inline-block;
}
#navBottomRow .nav-aside p {
    margin: 0.5rem 0 0 0;
}
.circle {
    width: 2.5rem;
    border-radius: 100%;
}
#navBottomRow {
    margin-top:2px;
}
#navBottomRow .nav-aside a {
    text-decoration: underline;
}
#searchForm {
    width:100%;
}
#searchForm input {
    width:68%;
}
#searchFilter {
    width:16%;
}
#dropNav {
    width:100%;
    font-size: .9em;
}
#dropNav li::before, #dropNav li.last::after {
    content: "";
    display:inline-block;
    vertical-align: middle;
    height:3rem;
    background-color: white;
    width:1px;
}
#dropNav li {
   align-self: center;
   width:25%;
}
#dropNav li .btn {
    background-color: transparent;
    border:none;
    text-align: left;
    font-size: .9em;
    line-height:1.2em;
    width: 75%;
    padding:6px;
}
#signInBtn {
    /* font-size: .9em; */
    margin: -0.25rem 0 0 0.5rem;
    font-weight: bold;
}
#autocomplete li {
    position: relative;
    padding: 5px 15px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    z-index: 99 !important;
}
#autocomplete {
    top: 38px;
    position: absolute;
    list-style: none;
    background-color: black;
    padding: 0;
}
#autocomplete li:hover {
    background-color: #337ab7;
    color: white;
    cursor: pointer;
}
#autocomplete .active {
    background-color: #337ab7;
    color: white;
    cursor: pointer;
}
.dropdown-toggle::after {
    margin-left: 1em;
}