<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fake it 'til you make it.</h1>
    <p class="lead">
      Powered by<a href="https://www.themoviedb.org/documentation/api" target="_new">The Movie DB's API</a>, FMDb gives you the power to make fake reviews about actual media. Become a part of the FMDb community today, where you can get real... but not really.</p>
  </div>
</div>
<h2>Look At These Movies <sub>(or don't)</sub></h2><br>
<div class="card-group">
    <div class="card">
      <img class="card-img-top small-img" src="assets/home01.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sharktanic</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Note: This is not an actual movie. We kinda hope you figured that out on your own.</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top small-img" src="assets/home02.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Star Shrek</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Note: This is not an actual movie. We kinda hope you figured that out on your own.</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top small-img" src="assets/home03.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dumb &amp; Dumbledore</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Note: This is not an actual movie. We kinda hope you figured that out on your own.</small></p>
      </div>
    </div>
  </div>
<br><h2>Latest News</h2><br>
<div class="card mb-3">
    <img class="card-img-top" src="assets/home04.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Watch the Latest Episode of Whatever Show You are Currently Watching</h5>
      <p class="card-text">
        On whatever show you are currently watching, we're sure a lot of things are happening. Plot developments are occuring. New characters are showing up. Old characters are awkwardly being written out as the actors quit to "do movies" as if that ever works out. You should probably, like, go watch the next episode of whatever it is you are watching... <a href="#">READ MORE >></a>
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1<span class="sr-only">(current)</span></a></li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
