<nav class="navbar navbar-light row" id="headerRow">
  <div class="col-1">
    <h3>IMDB</h3>
  </div>
  <div class="col-11">
    <div class="row" id="navTopRow">
      <div class="col-8">
        <form class="form-inline" id="searchForm">
          <input class="form-control mr-sm-2" type="text" placeholder="Find Movies, TV shows, Celebrities and more...">
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="searchFilter">
            <option selected>All</option>
            <option value="1">Titles</option>
            <option value="2">Names</option>
          </select>
          <button class="btn btn-warning my-2 my-sm-0" type="submit">
              <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <div class="col nav-aside">
          <a href="#">Help</a>
          <button type="button" class="circle btn btn-outline-light"><i class="fab fa-facebook-f"></i></button>
          <button type="button" class="circle btn btn-outline-light"><i class="fab fa-twitter"></i></button>
          <button type="button" class="circle btn btn-outline-light"><i class="fab fa-instagram"></i></button>
      </div>
    </div>
    <div class="row" id="navBottomRow">
      <div class="col-8">
        <ul id="dropNav" class="nav">
          <li ngbDropdown class="nav-item d-inline-block">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Movies, TV
              <br>&amp; Showtimes</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
          <li ngbDropdown class="nav-item d-inline-block">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Celebs, Events
              <br>&amp; Photos</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
          <li ngbDropdown class="nav-item d-inline-block">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>News &amp;
              <br>Community
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
          <li ngbDropdown class="nav-item d-inline-block last">
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Watchlist</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col nav-aside">
          <button id="fbSignInBtn" type="button" class="btn btn-primary btn-sm"><i class="fab fa-facebook-f"></i> Sign in with Facebook</button>
          <a href="#">Sign in without Facebook</a>
      </div>
    </div>
  </div>
</nav>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<ul>
  <li *ngFor="let x of movieList">{{x}}</li>
</ul>

<router-outlet></router-outlet>

