/* * {
    background-color: #131313
} */
.credit-info {
    margin: 0;
}
.watchlist-icon {
    font-size: 3.5em; 
    color: grey;
}
.watchlist-icon:hover {
    color: rgb(80, 78, 78);
    cursor: pointer;
}