<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-2">
                    <div style="border: 1px solid black; height: 102px; width: 102px; display: inline-block">
                        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjQ4MTY5NzU2M15BMl5BanBnXkFtZTgwNDc5NTgwMTI@._V1_SY100_SX100_.jpg"
                        />
                    </div>
                </div>
                <div class="col-10 user-info">
                    <h2>Username</h2>
                    <p class="small">Member since...</p>
                    <a href="#">Edit Description</a>
                </div>
            </div>
            <div class="card" style="margin-top: 15px;">
                <div class="card-block">
                    <h4 class="card-title">Your Watchlist</h4>
                    <div style="display: inline-block; margin: 5px">
                        <a href="#">
                            <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BZWYxODViMGYtMGE2ZC00ZGQ3LThhMWUtYTVkNGE3OWU4NWRkL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjYwNDA2MDE@._V1_SX140_CR0,0,140,209_.jpg"
                            />
                        </a>
                        <p class="small">
                            <a href="#">Link to movie</a>
                        </p>
                    </div>
                    <div style="display: inline-block; margin: 5px">
                        <a href="#">
                            <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BZWYxODViMGYtMGE2ZC00ZGQ3LThhMWUtYTVkNGE3OWU4NWRkL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMjYwNDA2MDE@._V1_SX140_CR0,0,140,209_.jpg"
                            />
                        </a>
                        <p class="small">
                            <a href="#">Link to movie</a>
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <a href="#">See more</a>
                    </small>
                </div>
            </div>
            <div class="card" style="margin-top: 15px;">
                <div class="card-block">
                    <h4 class="card-title">Your Reviews</h4>
                    <p class="card-text">Loved or hated a movie or TV show? Write a review and share it with others!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <a href="#">Write a review</a>
                    </small>
                </div>
            </div>
        </div>
        <div class="col-2">
            <h1>Sidebar</h1>
        </div>
    </div>
</div>









<!-- <form (submit)="submitReview()">
    <label for="rating">Rating</label>
    <input type="number" class="form-control" name="reviewForm.rating" [(ngModel)]="reviewForm.rating" placeholder="Rate this movie">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="reviewForm.title" [(ngModel)]="reviewForm.title" placeholder="Your review title">
    <label for="text">Review</label>
    <textarea type="text" class="form-control" name="reviewForm.text" [(ngModel)]="reviewForm.text" placeholder="Your review title"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button [routerLink]="['/']" class="btn btn-secondary">Cancel</button>
</form> -->